.loader-global {
	background: rgba(128, 128, 128, 0.2);
	width: 100%;
	height: 100%;
	z-index: 11111;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}
.pl-10-imp {
	padding-left: 2.5rem !important;
}
.form-label {
	font-weight: bold;
}

.text-center-cust {
	text-align: center;
}

.transparent {
	background: transparent;
}
.img-box {
	margin: 45px 0;
}
  
.img-box img {
width: 100%;
-webkit-animation: upDown 5s infinite;
		animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
	50% {
	  -webkit-transform: translateY(45px);
			  transform: translateY(45px);
	}
	100% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
  }
  
  @keyframes upDown {
	0% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
	50% {
	  -webkit-transform: translateY(45px);
			  transform: translateY(45px);
	}
	100% {
	  -webkit-transform: translateY(-45px);
			  transform: translateY(-45px);
	}
  }